html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    text-decoration: none
}

mark {
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

strong {
    font-weight: bold
}

.arialfont {
    font-family: arial
}

.boldtext {
    font-weight: bold
}

.text13 {
    font-size: 1.3em
}

.text12 {
    font-size: 1.2em
}

.text11 {
    font-size: 1.1em
}

.text09 {
    font-size: 0.9em
}

.text08 {
    font-size: 0.8em
}

.text07 {
    font-size: 0.7em
}

.text06 {
    font-size: 0.6em
}

.text05 {
    font-size: 0.5em
}

.text04 {
    font-size: 0.4em
}

.text03 {
    font-size: 0.3em
}

body {
    padding: 10px 20px;
    font-family: arial;
    color: white
}

h1 {
    padding: 5px 0 10px;
    font-size: 24px;
    font-family: 'Audiowide', cursive;
    letter-spacing: 4px;
    line-height: 24px
}

h2 {
    margin: 20px 0 14px;
    font-size: 21px;
    font-family: 'Audiowide', cursive;
    letter-spacing: 4px
}

h2 span {
    background: #e3e1e1;
    display: inline-block;
    padding: 2px 5px;
    line-height: 24px;
    border-radius: 4px;
    border: 2px solid #333
}

h3 {
    margin: 33px 0 30px;
    font-size: 23px;
    font-family: 'Audiowide', cursive;
    letter-spacing: 3px
}

p {
    margin: 0 auto 15px;
    font-size: 14px;
    max-width: 1000px;
    line-height: 18px
}

#footer {
    color: #888;
    text-align: right;
    line-height: 16px;
    font-size: 15px
}

#footer img {
    vertical-align: middle
}

@-webkit-keyframes bar1 {
    0% {
        visibility: visible
    }

    100%,
    90% {
        visibility: hidden
    }
}

@-moz-keyframes bar1 {
    0% {
        visibility: visible
    }

    100%,
    90% {
        visibility: hidden
    }
}

@keyframes bar1 {
    0% {
        visibility: visible
    }

    100%,
    90% {
        visibility: hidden
    }
}

@-webkit-keyframes bar2 {
    0% {
        visibility: visible
    }

    100%,
    85% {
        visibility: hidden
    }
}

@-moz-keyframes bar2 {
    0% {
        visibility: visible
    }

    100%,
    85% {
        visibility: hidden
    }
}

@keyframes bar2 {
    0% {
        visibility: visible
    }

    100%,
    85% {
        visibility: hidden
    }
}

@-webkit-keyframes bar3 {
    0% {
        visibility: visible
    }

    100%,
    80% {
        visibility: hidden
    }
}

@-moz-keyframes bar3 {
    0% {
        visibility: visible
    }

    100%,
    80% {
        visibility: hidden
    }
}

@keyframes bar3 {
    0% {
        visibility: visible
    }

    100%,
    80% {
        visibility: hidden
    }
}

@-webkit-keyframes bar4 {
    0% {
        visibility: visible
    }

    100%,
    78% {
        visibility: hidden
    }
}

@-moz-keyframes bar4 {
    0% {
        visibility: visible
    }

    100%,
    78% {
        visibility: hidden
    }
}

@keyframes bar4 {
    0% {
        visibility: visible
    }

    100%,
    78% {
        visibility: hidden
    }
}

@-webkit-keyframes bar5 {
    0% {
        visibility: visible
    }

    100%,
    74% {
        visibility: hidden
    }
}

@-moz-keyframes bar5 {
    0% {
        visibility: visible
    }

    100%,
    74% {
        visibility: hidden
    }
}

@keyframes bar5 {
    0% {
        visibility: visible
    }

    100%,
    74% {
        visibility: hidden
    }
}

@-webkit-keyframes shape_bars {
    0% {
        top: -20em
    }

    10% {
        top: -16em
    }

    82% {
        top: 7.3em
    }

    100% {
        top: 7.3em
    }
}

@-moz-keyframes shape_bars {
    0% {
        top: -20em
    }

    10% {
        top: -16em
    }

    82% {
        top: 7.3em
    }

    100% {
        top: 7.3em
    }
}

@keyframes shape_bars {
    0% {
        top: -20em
    }

    10% {
        top: -16em
    }

    82% {
        top: 7.3em
    }

    100% {
        top: 7.3em
    }
}

@-webkit-keyframes shape_bars_rotate {
    0% {
        bottom: -20em
    }

    10% {
        bottom: -16em
    }

    82% {
        bottom: 7.3em
    }

    100% {
        bottom: 7.3em
    }
}

@-moz-keyframes shape_bars_rotate {
    0% {
        bottom: -20em
    }

    10% {
        bottom: -16em
    }

    82% {
        bottom: 7.3em
    }

    100% {
        bottom: 7.3em
    }
}

@keyframes shape_bars_rotate {
    0% {
        bottom: -20em
    }

    10% {
        bottom: -16em
    }

    82% {
        bottom: 7.3em
    }

    100% {
        bottom: 7.3em
    }
}

@-webkit-keyframes text_large {
    0% {
        color: #dd0c09;
        text-shadow: 0 0 .3em rgba(159, 2, 0, .1), .1em .1em .3em rgba(159, 2, 0, .1), -.1em .1em .3em rgba(159, 2, 0, .1), -.1em -.1em .3em rgba(159, 2, 0, .1), .1em -.1em .3em rgba(159, 2, 0, .1), .1em 0 .3em rgba(159, 2, 0, .1), -.1em 0 .3em rgba(159, 2, 0, .1), 0 .1em .3em rgba(159, 2, 0, .1), 0 -.1em .3em rgba(159, 2, 0, .1)
    }

    10% {
        text-shadow: 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0)
    }

    65.9% {
        color: #dd0c09;
        text-shadow: 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0)
    }

    66% {
        color: #cd3d07;
        text-shadow: 0 0 1em rgba(159, 2, 0, .9), .5em .5em 1em rgba(159, 2, 0, .9), -.5em .5em 1em rgba(159, 2, 0, .9), -.5em -.5em 1em rgba(159, 2, 0, .9), .5em -.5em 1em rgba(159, 2, 0, .9), .5em 0 1em rgba(159, 2, 0, .9), -.5em 0 1em rgba(159, 2, 0, .9), 0 .5em 1em rgba(159, 2, 0, .9), 0 -.5em 1em rgba(159, 2, 0, .9)
    }

    75% {
        color: #cd3d07
    }

    100% {
        color: #dd0c09;
        text-shadow: 0 0 .3em rgba(159, 2, 0, .1), .1em .1em .3em rgba(159, 2, 0, .1), -.1em .1em .3em rgba(159, 2, 0, .1), -.1em -.1em .3em rgba(159, 2, 0, .1), .1em -.1em .3em rgba(159, 2, 0, .1), .1em 0 .3em rgba(159, 2, 0, .1), -.1em 0 .3em rgba(159, 2, 0, .1), 0 .1em .3em rgba(159, 2, 0, .1), 0 -.1em .3em rgba(159, 2, 0, .1)
    }
}

@-moz-keyframes text_large {
    0% {
        color: #dd0c09;
        text-shadow: 0 0 .3em rgba(159, 2, 0, .1), .1em .1em .3em rgba(159, 2, 0, .1), -.1em .1em .3em rgba(159, 2, 0, .1), -.1em -.1em .3em rgba(159, 2, 0, .1), .1em -.1em .3em rgba(159, 2, 0, .1), .1em 0 .3em rgba(159, 2, 0, .1), -.1em 0 .3em rgba(159, 2, 0, .1), 0 .1em .3em rgba(159, 2, 0, .1), 0 -.1em .3em rgba(159, 2, 0, .1)
    }

    10% {
        text-shadow: 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0)
    }

    65.9% {
        color: #dd0c09;
        text-shadow: 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0)
    }

    66% {
        color: #cd3d07;
        text-shadow: 0 0 1em rgba(159, 2, 0, .9), .5em .5em 1em rgba(159, 2, 0, .9), -.5em .5em 1em rgba(159, 2, 0, .9), -.5em -.5em 1em rgba(159, 2, 0, .9), .5em -.5em 1em rgba(159, 2, 0, .9), .5em 0 1em rgba(159, 2, 0, .9), -.5em 0 1em rgba(159, 2, 0, .9), 0 .5em 1em rgba(159, 2, 0, .9), 0 -.5em 1em rgba(159, 2, 0, .9)
    }

    75% {
        color: #cd3d07
    }

    100% {
        color: #dd0c09;
        text-shadow: 0 0 .3em rgba(159, 2, 0, .1), .1em .1em .3em rgba(159, 2, 0, .1), -.1em .1em .3em rgba(159, 2, 0, .1), -.1em -.1em .3em rgba(159, 2, 0, .1), .1em -.1em .3em rgba(159, 2, 0, .1), .1em 0 .3em rgba(159, 2, 0, .1), -.1em 0 .3em rgba(159, 2, 0, .1), 0 .1em .3em rgba(159, 2, 0, .1), 0 -.1em .3em rgba(159, 2, 0, .1)
    }
}

@keyframes text_large {
    0% {
        color: #dd0c09;
        text-shadow: 0 0 .3em rgba(159, 2, 0, .1), .1em .1em .3em rgba(159, 2, 0, .1), -.1em .1em .3em rgba(159, 2, 0, .1), -.1em -.1em .3em rgba(159, 2, 0, .1), .1em -.1em .3em rgba(159, 2, 0, .1), .1em 0 .3em rgba(159, 2, 0, .1), -.1em 0 .3em rgba(159, 2, 0, .1), 0 .1em .3em rgba(159, 2, 0, .1), 0 -.1em .3em rgba(159, 2, 0, .1)
    }

    10% {
        text-shadow: 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0)
    }

    65.9% {
        color: #dd0c09;
        text-shadow: 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0), 0 0 0 rgba(159, 2, 0, 0)
    }

    66% {
        color: #cd3d07;
        text-shadow: 0 0 1em rgba(159, 2, 0, .9), .5em .5em 1em rgba(159, 2, 0, .9), -.5em .5em 1em rgba(159, 2, 0, .9), -.5em -.5em 1em rgba(159, 2, 0, .9), .5em -.5em 1em rgba(159, 2, 0, .9), .5em 0 1em rgba(159, 2, 0, .9), -.5em 0 1em rgba(159, 2, 0, .9), 0 .5em 1em rgba(159, 2, 0, .9), 0 -.5em 1em rgba(159, 2, 0, .9)
    }

    75% {
        color: #cd3d07
    }

    100% {
        color: #dd0c09;
        text-shadow: 0 0 .3em rgba(159, 2, 0, .1), .1em .1em .3em rgba(159, 2, 0, .1), -.1em .1em .3em rgba(159, 2, 0, .1), -.1em -.1em .3em rgba(159, 2, 0, .1), .1em -.1em .3em rgba(159, 2, 0, .1), .1em 0 .3em rgba(159, 2, 0, .1), -.1em 0 .3em rgba(159, 2, 0, .1), 0 .1em .3em rgba(159, 2, 0, .1), 0 -.1em .3em rgba(159, 2, 0, .1)
    }
}

html {
    margin: 0;
    padding: 0
}

body {
    background-color: #000;
    font-size: 1.4vmin;
    margin: 0;
    padding: 2em 1em;
    font-family: "Arial Black", Gadget, sans-serif
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 0
}

.center-absolute {
    margin: auto;
    position: absolute
}

.red-alert {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 1em solid #000;
    border-bottom: 0;
    border-top: 0;
    height: 51.375em;
    margin: auto;
    overflow: hidden;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 62em
}

.rotate {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.oldalkak {
    border-radius: 0 .45em .45em 0;
    height: 10.9em;
    overflow: hidden;
    position: absolute;
    top: 20.25em;
    width: 8.75em
}

.oldalkak:before {
    background: #dd0c09;
    border-radius: 50% 0 0 50%;
    content: '';
    display: block;
    height: 20em;
    margin: -51.5% 0 0 0;
    position: relative;
    width: 100%
}

.oldalkak.normal {
    left: 0
}

.oldalkak.rotate {
    right: 0
}

.shape-wide-contain {
    height: 16.5em;
    left: 6em;
    overflow: hidden;
    position: absolute;
    width: 50em
}

.shape-wide-contain.normal {
    top: 1em
}

.shape-wide-contain.rotate {
    bottom: 1em
}

.shape-wide {
    height: 100%
}

.shape-wide:before {
    background: #dd0c09;
    border-radius: 100% 100% 0 0/105% 105% 0 0;
    content: '';
    display: block;
    height: 49em;
    margin: -2.2em 0 0 -5.2em;
    position: relative;
    width: 60.4em
}

.shape-wide:after {
    background: #000;
    border-radius: 0 0 .5em .5em;
    content: '';
    display: block;
    height: 15.8em;
    left: 12.65em;
    position: absolute;
    top: -1em;
    width: 24.75em
}

.shape-wide-hide {
    height: 100%;
    left: 0;
    position: absolute;
    top: 11.7em;
    width: 100%;
    z-index: 1
}

.shape-wide-hide:before {
    background: #000;
    content: '';
    display: block;
    height: 10em;
    left: -6em;
    position: absolute;
    -webkit-transform: rotate(40.5deg);
    -o-transform: rotate(40.5deg);
    -ms-transform: rotate(40.5deg);
    transform: rotate(40.5deg);
    width: 15em
}

.shape-wide-hide:after {
    background: #000;
    content: '';
    display: block;
    height: 10em;
    position: absolute;
    right: -6em;
    -webkit-transform: rotate(-40.5deg);
    -o-transform: rotate(-40.5deg);
    -ms-transform: rotate(-40.5deg);
    transform: rotate(-40.5deg);
    width: 15em
}

.redAlert {
    color: #dd0c09;
    cursor: default;
    font-size: 8.1em;
    letter-spacing: -.07em;
    line-height: 1em;
    position: absolute;
    text-align: center;
    top: 36.3%;
    width: 100%;
    z-index: 22;
    font-family: 'Audiowide', cursive
}

.redAlert .large,
.payButton {
    -webkit-animation: text_large 1s steps(60) infinite;
    -moz-animation: text_large 1s steps(60) infinite;
    animation: text_large 1s steps(60) infinite
}

.redAlert .small {
    display: block;
    font-size: .365em;
    letter-spacing: 10px;
    line-height: 1em;
    color: white
}

#countdown {
    font-size: 0.5em
}

#countdown>span {
    display: inline-block;
    min-width: 130px
}

#minutes {
    text-align: right
}

.redAlert-background {
    background: #000;
    height: 16.5em;
    left: 9em;
    position: absolute;
    top: 17.47em;
    width: 44em;
    z-index: 21
}

.vonalkak {
    height: 20.748em;
    left: 50%;
    margin: 0 0 0 -12.375em;
    position: absolute;
    width: 24.75em;
    z-index: 1
}

.vonalkak .bar {
    height: 18em;
    left: -5.8125em;
    padding: 0 6.1em;
    position: absolute;
    top: 0;
    width: 36.4375em
}

.vonalkak .bar .shape {
    height: .9375em;
    left: 0;
    margin-top: 8.5625em;
    width: 100%
}

.vonalkak .bar:nth-child(1) {
    -webkit-animation: bar1 1s steps(1) infinite;
    -moz-animation: bar1 1s steps(1) infinite;
    animation: bar1 1s steps(1) infinite;
    left: -5.6875em;
    top: 0;
    width: 36.1875em;
    z-index: 1
}

.vonalkak .bar:nth-child(1) .shape {
    background: #970200;
    border-radius: .4em;
    box-shadow: 0 0 .5em .3em rgba(177, 2, 0, .7)
}

.vonalkak .bar:nth-child(2) {
    -webkit-animation: bar2 1s steps(1) infinite;
    -moz-animation: bar2 1s steps(1) infinite;
    animation: bar2 1s steps(1) infinite;
    left: -5.75em;
    width: 36.3125em;
    top: 1.1875em;
    z-index: 2
}

.vonalkak .bar:nth-child(2) .shape {
    background: #b10200;
    border-radius: .4em;
    box-shadow: 0 0 .5em .3em rgba(177, 2, 0, .7)
}

.vonalkak .bar:nth-child(3) {
    -webkit-animation: bar3 1s steps(1) infinite;
    -moz-animation: bar3 1s steps(1) infinite;
    animation: bar3 1s steps(1) infinite;
    background: -moz-radial-gradient(closest-side, rgba(159, 2, 0, .3) 30%, rgba(159, 2, 0, 0) 100%);
    background: -webkit-radial-gradient(closest-side, rgba(159, 2, 0, .3) 30%, rgba(159, 2, 0, 0) 100%);
    background: radial-gradient(closest-side, rgba(159, 2, 0, .3) 30%, rgba(159, 2, 0, 0) 100%);
    top: 2.375em;
    z-index: 3
}

.vonalkak .bar:nth-child(3) .shape {
    background: #b81503;
    border-radius: .4em;
    box-shadow: 0 0 .5em .3em rgba(184, 21, 3, .7)
}

.vonalkak .bar:nth-child(4) {
    -webkit-animation: bar4 1s steps(1) infinite;
    -moz-animation: bar4 1s steps(1) infinite;
    animation: bar4 1s steps(1) infinite;
    background: -moz-radial-gradient(closest-side, rgba(159, 2, 0, .4) 30%, rgba(159, 2, 0, 0) 100%);
    background: -webkit-radial-gradient(closest-side, rgba(159, 2, 0, .4) 30%, rgba(159, 2, 0, 0) 100%);
    background: radial-gradient(closest-side, rgba(159, 2, 0, .4) 30%, rgba(159, 2, 0, 0) 100%);
    left: -5.75em;
    top: 3.625em;
    width: 36.3125em;
    z-index: 4
}

.vonalkak .bar:nth-child(4) .shape {
    background: #cc1703;
    border-radius: .4em;
    box-shadow: 0 0 .5em .3em rgba(204, 23, 3, .7)
}

.vonalkak .bar:nth-child(5) {
    -webkit-animation: bar5 1s steps(1) infinite;
    -moz-animation: bar5 1s steps(1) infinite;
    animation: bar5 1s steps(1) infinite;
    background: -moz-radial-gradient(closest-side, rgba(159, 2, 0, .75) 0, rgba(159, 2, 0, 0) 100%);
    background: -webkit-radial-gradient(closest-side, rgba(159, 2, 0, .75) 0, rgba(159, 2, 0, 0) 100%);
    background: radial-gradient(closest-side, rgba(159, 2, 0, .75) 0, rgba(159, 2, 0, 0) 100%);
    left: -5.6875em;
    top: 5em;
    width: 36.1875em;
    z-index: 5
}

.vonalkak .bar:nth-child(5) .shape {
    background: #cd3d07;
    border-radius: .45em;
    box-shadow: 0 0 .5em .3em rgba(205, 61, 7, .9)
}

.vonalkak.normal {
    -webkit-animation: shape_bars 1s steps(60) infinite;
    -moz-animation: shape_bars 1s steps(60) infinite;
    animation: shape_bars 1s steps(60) infinite;
    top: -20em
}

.vonalkak.rotate {
    -webkit-animation: shape_bars_rotate 1s steps(60) infinite;
    -moz-animation: shape_bars_rotate 1s steps(60) infinite;
    animation: shape_bars_rotate 1s steps(60) infinite;
    bottom: -20em
}

.vonalkak-cover {
    background: #dd0c09;
    height: 1.6875em;
    left: 50%;
    margin-left: -15.5em;
    position: absolute;
    width: 31em;
    z-index: 20
}

.vonalkak-cover:before {
    background: #dd0c09;
    content: '';
    display: block;
    height: 14.4em;
    left: -.2em;
    position: absolute;
    width: 3.2em
}

.vonalkak-cover:after {
    background: #dd0c09;
    content: '';
    display: block;
    height: 14.4em;
    position: absolute;
    right: -.2em;
    width: 3.2em
}

.vonalkak-cover.normal {
    bottom: 0
}

.vonalkak-cover.normal:after,
.vonalkak-cover.normal:before {
    bottom: 0
}

.vonalkak-cover.opposite {
    bottom: 15.8125em;
    height: 1.65em
}

#controls {
    cursor: default;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 30
}

.minus,
.plus {
    font-weight: 700
}

#ie9-message {
    background: #000;
    color: red;
    font-family: sans-serif;
    font-size: 16px;
    height: 100px;
    left: 50%;
    line-height: 100px !important;
    margin: -50px 0 0 -350px;
    outline: 1px solid #dd0c09;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 700px;
    z-index: 50
}

#scambleContainer {
    position: fixed;
    top: 25px;
    text-align: center;
    left: 10px;
    right: 10px;
    line-height: 40px;
    z-index: 12;
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace
}

#scambleText {
    color: white;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #147c7e 0px 0px 20px, #147c7e 0px 0px 30px, #147c7e 0px 0px 40px, #147c7e 0px 0px 50px, #147c7e 0px 0px 75px
}

#infos {
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
    left: 10px;
    z-index: 12;
    font-family: "Lucida Console", Monaco, monospace;
    right: 10px;
    text-align: center;
    text-shadow: 1px 1px 5px #3ccbcb
}

#infos a.payButton {
    text-decoration: none;
    display: inline-block;
    min-width: 100px
}

#price {
    display: inline-block;
    min-width: 150px;
    text-align: left
}

#intro {
    background: rgba(255, 255, 255, 1);
    color: #000;
    padding: 10px;
    max-width: 1000px;
    position: absolute;
    font-size: 15px;
    z-index: 15;
    text-align: center;
    margin: auto;
    font-family: "Lucida Console", Monaco, monospace;
    border-radius: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px
}

#close {
    position: absolute;
    top: -10px;
    right: 10px;
    height: 30px;
    display: inline-block;
    width: 30px;
    font-size: 25px;
    text-align: center;
    background: white;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #444;
    cursor: pointer;
    opacity: 0.8
}

#close:hover {
    opacity: 1
}

#intro p {
    font-size: 15px
}

.button {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    line-height: 1.2em;
    border: 2px solid #333;
    border-radius: 10px
}

.button:hover {
    box-shadow: 3px 3px 3px #888
}

#translations {
    display: none
}

#languages {
    height: 40px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden
}

#languagesInner {
    height: 35px;
    width: 385px;
    margin: auto
}

#languages a {
    display: inline-block;
    box-shadow: 2px 2px 3px #333;
    width: 45px;
    height: 30px;
    border-radius: 4px;
    background: transparent url(flags.png) no-repeat scroll 0 0;
    margin: 1px 0 5px;
    text-indent: -999px;
    overflow: hidden
}

#languages a:hover {
    box-shadow: 2px 2px 5px #000
}

#languages a.rus {
    background-position: 0 -40px
}

#languages a.tur {
    background-position: 0 -83px
}

#languages a.malay {
    background-position: 0 -128px
}

#languages a.hindi {
    background-position: 0 -170px
}

#languages a.chinese {
    background-position: 0 -211px
}

#languages a.ger {
    background-position: 0 -258px
}

#languages a.hun {
    background-position: 0 -298px
}

.mobileOnly {
    display: none
}

@media screen and (max-width:650px) {
    #intro {
        border-radius: 10px;
        bottom: auto;
        top: 15px
    }

    #intro p {
        margin: 2px
    }

    h1 {
        padding: 2px 0 4px;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 24px
    }

    h2 {
        margin: 5px 0 10px;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 2px
    }

    #scambleContainer {
        top: 20px;
        line-height: 29px;
        font-size: 15px
    }
}

@media screen and (max-height:550px) {
    .alacsonyHide {
        display: none
    }

    #infos {
        padding-bottom: 5px
    }
}